* {
  font-family: "Nunito", sans-serif;
}

.responsive {
  max-width: 600px;
}

header {
  display: flex;
  justify-content: space-between;
}

.container-content {
  background-color: aqua;
  justify-content: center;
}

.card-picture {
  position: relative;
  max-width: 70%;
}
